@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_LayoutContent.cshtml";

}
<div id="breadcrumb">
    <ol class="breadcrumb" style="margin-bottom: 0px">
        <li class="active">Miền Bắc</li>
        <li><a href="soi-cau-mien-trung.html">Miền Trung</a></li>
        <li><a href="soi-cau-mien-nam.html">Miền Nam</a></li>
    </ol>    
    <div class="clear"></div>
</div>

<div class="clear"></div>
<div id="float_content_right_zone2" class="QCAlign">
    <div class="zone" style=" font-size: 12pt; margin: 5px;padding: 0px;border-radius: 0px;">
        <ul>
            <li style="overflow: hidden;padding-bottom:5px;">
                <a href="http://giovangchotso9999.net/" rel="nofollow" target="_blank"><img alt="" src="https://giovangchotso.com/public/ads_upload/images/12-12-,281,29.gif.pagespeed.ce.hlG_13pu6C.gif"/></a>
            </li>            
        </ul>
    </div>
</div>
<div class="middledite">
    <div class="dangky_area">
        <p class="text_dangky">
            <a>Đăng ký thành công</a>
        </p>
        <br>
        <h3>Tài khoản @ViewBag.Nickname đã được đăng ký thành công. Vui lòng <a href="~/Home/DangNhap">Đăng nhập</a> để sử dụng</h3>
        <br/>
        <br />
        <br />

    </div>
</div>
