@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_LayoutContent.cshtml";

}
<div id="breadcrumb">
    <ol class="breadcrumb" style="margin-bottom: 0px">
        <li class="active">Miền Bắc</li>
        <li><a href="soi-cau-mien-trung.html">Miền Trung</a></li>
        <li><a href="soi-cau-mien-nam.html">Miền Nam</a></li>
    </ol>    
    <div class="clear"></div>
</div>

<div class="clear"></div>
<div id="float_content_right_zone2" class="QCAlign">
    <div class="zone" style=" font-size: 12pt; margin: 5px;padding: 0px;border-radius: 0px;">
        <ul>
            <li style="overflow: hidden;padding-bottom:5px;">
                <a href="http://giovangchotso9999.net/" rel="nofollow" target="_blank"><img alt="" src="https://giovangchotso.com/public/ads_upload/images/12-12-,281,29.gif.pagespeed.ce.hlG_13pu6C.gif"/></a>
            </li>            
        </ul>
    </div>
</div>
<div class="middledite">
    <div class="dangky_area">
        <p class="text_dangky">
            <a>Đăng nhập</a>
        </p>
        <br>
        <form action="https://giovangchotso.com/user_control/processlogin" accept-charset="utf-8" method="POST">
            <p>Số điện thoại</p>
            <div class="input_dangky">
                <input type="tel" class="form-control" style="width: 200px" size="30" value="" name="number" id="number">
            </div>
            <br>
            <p>Mật khẩu</p>
            <div class="input_dangky">
                <input type="password" class="form-control" style="width: 200px" size="30" name="password" id="password">
            </div>
            <div class="input_dangky">
                <input type="checkbox" value="1" name="remember_me"> Nhớ mật khẩu
            </div>
            <input type="submit" class="btn btn-primary active" value="Đăng nhập">
        </form>
        <ul>
            <li>
                <a href="dang-ky.html">Đăng ký mới.</a>
            </li>
            <li>
                <a href="https://giovangchotso.com/quen-mat-khau.html">Bạn quên mật khẩu?</a>
            </li>
        </ul>
        <br>
        <br><br><br><br>
    </div>
</div>
