@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_LayoutContent.cshtml";

}
<div id="breadcrumb">
    <ol class="breadcrumb" style="margin-bottom: 0px">
        <li class="active">Miền Bắc</li>
        <li><a href="soi-cau-mien-trung.html">Miền Trung</a></li>
        <li><a href="soi-cau-mien-nam.html">Miền Nam</a></li>
    </ol>
    <div id="infoheader">
        @Html.Partial("_PartialDK_DN")
    </div>
    <div class="clear"></div>
</div>

<div class="clear"></div>
<div id="float_content_right_zone2" class="QCAlign">
    <div class="zone" style=" font-size: 12pt; margin: 5px;padding: 0px;border-radius: 0px;">
        <ul>
            <li style="overflow: hidden;padding-bottom:5px;">
                <a href="http://giovangchotso9999.net/" rel="nofollow" target="_blank"><img alt="" src="https://giovangchotso.com/public/ads_upload/images/12-12-,281,29.gif.pagespeed.ce.hlG_13pu6C.gif"/></a>
            </li>            
        </ul>
    </div>
</div>

<div class="row">
    <div id="kqxs_mb">
        <div class="box">
            <div class="box-title">
                <div class="icon_xoso icon_lokep">
                    <h1 style="display: inline">KẾT QUẢ XỔ SỐ MIỀN BẮC - XSMB</h1>
                </div>
            </div>
        </div>
        <div id="thongbao" style="text-align: center;display: none;">
            <br>
            <h1>CHÚC QUÝ KHÁCH HÀNG XUÂN ĐINH DẬU - TÀI LỘC LIỀN TAY - VẬN MAY LIÊN TIẾP</h1>
            <br>
            <p> Xổ số Miền Bắc sẽ nghỉ quay vào các ngày 27,28,29,30 tháng 01 năm 2017 dương lịch</p>
        </div>
        <ul class="nav nav-tabs" role="tablist"><li role="presentation" class=" active"><a href="#soicaulo-mn-51" aria-controls="soicaulo-mn-51" role="tab" data-toggle="tab">51 (5 lần)</a></li><li role="presentation" class=""><a href="#soicaulo-mn-00" aria-controls="soicaulo-mn-00" role="tab" data-toggle="tab">00 (3 lần)</a></li><li role="presentation" class=""><a href="#soicaulo-mn-02" aria-controls="soicaulo-mn-02" role="tab" data-toggle="tab">02 (3 lần)</a></li><li role="presentation" class=""><a href="#soicaulo-mn-03" aria-controls="soicaulo-mn-03" role="tab" data-toggle="tab">03 (3 lần)</a></li><li role="presentation" class=""><a href="#soicaulo-mn-05" aria-controls="soicaulo-mn-05" role="tab" data-toggle="tab">05 (3 lần)</a></li><li role="presentation" class=""><a href="#soicaulo-mn-11" aria-controls="soicaulo-mn-11" role="tab" data-toggle="tab">11 (3 lần)</a></li><li role="presentation" class=""><a href="#soicaulo-mn-40" aria-controls="soicaulo-mn-40" role="tab" data-toggle="tab">40 (3 lần)</a></li></ul>
        <div class="box-ketqua pad-10">
            <div class="bo9 kqxs_tb">
                <table class="ketqua" cellspacing="1" cellpadding="9">
                    <thead>
                        <tr>
                            <th colspan="13" class="kq_ngay" id="kq_ngay_mb"><h2>Kết Quả Xổ Số Miền Bắc Thứ năm Ngày 02-02-2017</h2></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="leftcol">ĐB</td>
                            <td colspan="12" class="kq_0 dac_biet">09649</td>
                        </tr>
                        <tr>
                            <td class="leftcol">G1</td>
                            <td colspan="12" class="kq_1">669<h8>4</h8><h8>8</h8></td>
                        </tr>
                        <tr>
                            <td class="leftcol">G2</td>
                            <td colspan="6" class="kq_2">00882</td>
                            <td colspan="6" class="kq_3">78207</td>
                        </tr>
                        <tr>
                            <td rowspan="2" class="leftcol">G3</td>
                            <td colspan="4" class="kq_4">82301</td>
                            <td colspan="4" class="kq_5">49691</td>
                            <td colspan="4" class="kq_6">85602</td>
                        </tr>
                        <tr>
                            <td colspan="4" class="kq_7">75883</td>
                            <td colspan="4" class="kq_8">38<h7>3</h7>2<h7>3</h7></td>
                            <td colspan="4" class="kq_9">60596</td>
                        </tr>
                        <tr>
                            <td class="leftcol">G4</td>
                            <td colspan="3" class="kq_10">6249</td>
                            <td colspan="3" class="kq_11">9666</td>
                            <td colspan="3" class="kq_12">9525</td>
                            <td colspan="3" class="kq_13">6370</td>
                        </tr>
                        <tr>
                            <td rowspan="2" class="leftcol">G5</td>
                            <td colspan="4" class="kq_14">4972</td>
                            <td colspan="4" class="kq_15">3121</td>
                            <td colspan="4" class="kq_16">1704</td>
                        </tr>
                        <tr>
                            <td colspan="4" class="kq_17">3614</td>
                            <td colspan="4" class="kq_18">8019</td>
                            <td colspan="4" class="kq_19">52<h1>5</h1>0</td>
                        </tr>
                        <tr>
                            <td class="leftcol">G6</td>
                            <td colspan="4" class="kq_20">707</td>
                            <td colspan="4" class="kq_21">132</td>
                            <td colspan="4" class="kq_22">142</td>
                        </tr>
                        <tr>
                            <td class="leftcol">G7</td>
                            <td colspan="3" class="kq_23">16</td>
                            <td colspan="3" class="kq_24">67</td>
                            <td colspan="3" class="kq_25">61</td>
                            <td colspan="3" class="kq_26">85</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="dau-dit-lo-to dau_dit_tb dau_tb">
                <div class="bo9 left">
                    <table class="dau" cellspacing="1" cellpadding="9">
                        <tbody>
                            <tr>
                                <th><h2>Đầu</h2></th>
                                <th><h2>Lô tô</h2></th>
                            </tr>
                            <tr><td class="leftcol">0</td><td class="dau_0">04 09</td></tr>
                            <tr><td class="leftcol">1</td><td class="dau_1">10 12 14 18</td></tr>
                            <tr><td class="leftcol">2</td><td class="dau_2">20 23 28 <span class="dac_biet">29</span></td></tr>
                            <tr><td class="leftcol">3</td><td class="dau_3">32 32 34 36</td></tr>
                            <tr><td class="leftcol">4</td><td class="dau_4">45</td></tr>
                            <tr><td class="leftcol">5</td><td class="dau_5">56 58</td></tr>
                            <tr><td class="leftcol">6</td><td class="dau_6">60 62 64 65</td></tr>
                            <tr><td class="leftcol">7</td><td class="dau_7">70 71 78</td></tr>
                            <tr><td class="leftcol">8</td><td class="dau_8"></td></tr>
                            <tr><td class="leftcol">9</td><td class="dau_9">91 92 93</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="dau-dit-lo-to dau_dit_tb duoi_tb">
                <div class="bo9 left">
                    <table class="dau" cellspacing="1" cellpadding="9">
                        <tbody>
                            <tr>
                                <th><h2>Đuôi</h2></th>
                                <th><h2>Lô tô</h2></th>
                            </tr>
                            <tr><td class="leftcol">0</td><td class="dau_0">10 20 60 70</td></tr>
                            <tr><td class="leftcol">1</td><td class="dau_1">71 91</td></tr>
                            <tr><td class="leftcol">2</td><td class="dau_2">12 32 32 62 92</td></tr>
                            <tr><td class="leftcol">3</td><td class="dau_3">23 93</td></tr>
                            <tr><td class="leftcol">4</td><td class="dau_4">04 14 34 64</td></tr>
                            <tr><td class="leftcol">5</td><td class="dau_5">45 65</td></tr>
                            <tr><td class="leftcol">6</td><td class="dau_6">36 56</td></tr>
                            <tr><td class="leftcol">7</td><td class="dau_7"></td></tr>
                            <tr><td class="leftcol">8</td><td class="dau_8">18 28 58 78</td></tr>
                            <tr><td class="leftcol">9</td><td class="dau_9">09 <span class="dac_biet">29</span></td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="clear-both"></div>
        </div>
    </div>
    
</div>