@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_LayoutContent.cshtml";

}
<div id="breadcrumb">
    <ol class="breadcrumb" style="margin-bottom: 0px">
        <li class="active">Miền Bắc</li>
        <li><a href="soi-cau-mien-trung.html">Miền Trung</a></li>
        <li><a href="soi-cau-mien-nam.html">Miền Nam</a></li>
    </ol>
    <div id="infoheader">
        @Html.Partial("_PartialDK_DN")
    </div>
    <div class="clear"></div>
</div>

<div class="clear"></div>
<div id="float_content_right_zone2" class="QCAlign">
    <div class="zone" style=" font-size: 12pt; margin: 5px;padding: 0px;border-radius: 0px;">
        <ul>
            <li style="overflow: hidden;padding-bottom:5px;">
                <a href="http://giovangchotso9999.net/" rel="nofollow" target="_blank"><img alt="" src="https://giovangchotso.com/public/ads_upload/images/12-12-,281,29.gif.pagespeed.ce.hlG_13pu6C.gif"/></a>
            </li>            
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12">
        <h4 class="text-center">
            CHỌN SỐ CẦN XEM TỶ LỆ TRÚNG
        </h4>
        <br>
    </div>
    <div class="col-lg-12 col-md-12">
        <select id="province" name="tinh" class="form-control input-sm" onchange="changetinh(this)">
            <option id="MB" value="mien-bac" selected="">
                Miền Bắc
            </option>
            <option id="kon-tum" value="kon-tum">
                --Kon Tum
            </option>
            <option id="khanh-hoa" value="khanh-hoa">
                --Khánh Hòa
            </option>
            <option id="kien-giang" value="kien-giang">
                --Kiên Giang
            </option>
            <option id="tien-giang" value="tien-giang">
                --Tiền Giang
            </option>
            <option id="da-lat" value="da-lat">
                --Đà Lạt
            </option>
        </select>
    </div>
    <div class="col-lg-12">
        <div class="col-lg-12 col-md-12">
            <table class="table">
                <caption><i>Bạn cần xem tỷ lệ trúng của số nào thì bạn chọn số đấy để xem. Những số <span class="text-info">màu xanh</span> là số bạn đã xem và không phải mất xu khi xem lại.</i></caption>
                <tbody id="res_tinh">
                    <tr>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/mien-bac/00" class="btn btn-default">00</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/mien-bac/01" class="btn btn-default">01</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/mien-bac/02" class="btn btn-default">02</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/mien-bac/03" class="btn btn-default">03</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/mien-bac/04" class="btn btn-default">04</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/mien-bac/05" class="btn btn-default">05</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/mien-bac/06" class="btn btn-default">06</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/mien-bac/07" class="btn btn-default">07</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/mien-bac/08" class="btn btn-default">08</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/mien-bac/09" class="btn btn-default">09</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/mien-bac/10" class="btn btn-default">10</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/mien-bac/11" class="btn btn-default">11</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/mien-bac/12" class="btn btn-default">12</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/mien-bac/13" class="btn btn-default">13</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/mien-bac/14" class="btn btn-default">14</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/mien-bac/15" class="btn btn-default">15</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/mien-bac/16" class="btn btn-default">16</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/mien-bac/17" class="btn btn-default">17</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/mien-bac/18" class="btn btn-default">18</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/mien-bac/19" class="btn btn-default">19</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/mien-bac/20" class="btn btn-default">20</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/21" class="btn btn-default">21</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/22" class="btn btn-default">22</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/23" class="btn btn-default">23</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/24" class="btn btn-default">24</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/25" class="btn btn-default">25</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/26" class="btn btn-default">26</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/27" class="btn btn-default">27</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/28" class="btn btn-default">28</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/29" class="btn btn-default">29</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/30" class="btn btn-default">30</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/31" class="btn btn-default">31</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/32" class="btn btn-default">32</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/33" class="btn btn-default">33</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/34" class="btn btn-default">34</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/35" class="btn btn-default">35</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/36" class="btn btn-default">36</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/37" class="btn btn-default">37</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/38" class="btn btn-default">38</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/39" class="btn btn-default">39</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/40" class="btn btn-default">40</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/41" class="btn btn-default">41</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/42" class="btn btn-default">42</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/43" class="btn btn-default">43</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/44" class="btn btn-default">44</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/45" class="btn btn-default">45</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/46" class="btn btn-default">46</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/47" class="btn btn-default">47</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/48" class="btn btn-default">48</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/49" class="btn btn-default">49</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/50" class="btn btn-default">50</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/51" class="btn btn-default">51</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/52" class="btn btn-default">52</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/53" class="btn btn-default">53</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/54" class="btn btn-default">54</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/55" class="btn btn-default">55</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/56" class="btn btn-default">56</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/57" class="btn btn-default">57</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/58" class="btn btn-default">58</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/59" class="btn btn-default">59</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/60" class="btn btn-default">60</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/61" class="btn btn-default">61</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/62" class="btn btn-default">62</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/63" class="btn btn-default">63</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/64" class="btn btn-default">64</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/65" class="btn btn-default">65</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/66" class="btn btn-default">66</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/67" class="btn btn-default">67</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/68" class="btn btn-default">68</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/69" class="btn btn-default">69</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/70" class="btn btn-default">70</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/71" class="btn btn-default">71</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/72" class="btn btn-default">72</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/73" class="btn btn-default">73</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/74" class="btn btn-default">74</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/75" class="btn btn-default">75</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/76" class="btn btn-default">76</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/77" class="btn btn-default">77</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/78" class="btn btn-default">78</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/79" class="btn btn-default">79</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/80" class="btn btn-default">80</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/81" class="btn btn-default">81</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/82" class="btn btn-default">82</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/83" class="btn btn-default">83</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/84" class="btn btn-default">84</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/85" class="btn btn-default">85</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/86" class="btn btn-default">86</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/87" class="btn btn-default">87</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/88" class="btn btn-default">88</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/89" class="btn btn-default">89</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/90" class="btn btn-default">90</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/91" class="btn btn-default">91</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/92" class="btn btn-default">92</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/93" class="btn btn-default">93</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/94" class="btn btn-default">94</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/95" class="btn btn-default">95</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/96" class="btn btn-default">96</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/97" class="btn btn-default">97</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/98" class="btn btn-default">98</a>
                        </td>
                        <td>
                            <a id="btn_tick_0" href="~/Home/SoiSo/99" class="btn btn-default">99</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12">
        <h4 class="text-center text-uppercase">THỐNG KÊ CHI TIẾT CHO Miền Bắc</h4> <h4 class="text-center text-danger">---- Số 01 ----</h4>
        <div class=" text-danger "> </div>
    </div>
    - <div class="col-lg-12 col-md-12">
        <div class="alert alert-warning">
            Tần số xuất hiện số 01 trong 90 ngày gần
            nhất<br> <strong>Số lần về</strong>: <span class="text-danger lead">25 lần</span><br> <strong>
                Về đặc
                biệt
            </strong>: <span class="text-danger lead">1 lần</span><br> <strong>Đầu 0</strong>: <span class="text-danger lead">239 lần</span><br>
            <strong>Đuôi 1</strong>: <span class="text-danger lead">225 lần</span><br> <strong>
                Ngày về gần
                đây nhất
            </strong>: <span class="text-danger lead">06/02/2017</span><br>
            <strong>Dự đoán khả năng về</strong>: <span class="text-danger lead">78 %</span><br> <strong>Tỷ lệ khách hàng tham khảo hôm nay</strong>: <span class="text-danger lead">44%</span> <br>
            <strong>Số khách hàng tham khảo nhiều hôm nay</strong>: <span class="text-danger lead">21 , 22 , 23 , 56 , 26</span><br> <strong>
                CHÚC
                BẠN MAY MẮN.
            </strong> <br> ---- <p><a href="javascript:void(0)">Thống kê số khác:</a></p>
            <form role="form" method="post" action="~/Home/SoiSo">
                <div class="form-group input-group">
                    <input name="new_so" type="number" min="0" max="99" class="form-control" placeholder="Nhập số bạn muốn thống kê" required="required"> <span class="input-group-btn">
                        <button type="button" class="btn btn-warning" onclick="window.location.href = '~/Home/SoiSo/mien-bac/01'">
                            <i class="fa fa-search"></i> Thống kê
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>