@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_LayoutContent.cshtml";

}
<div id="breadcrumb">
    <ol class="breadcrumb" style="margin-bottom: 0px">
        <li class="active">Miền Bắc</li>
        <li><a href="soi-cau-mien-trung.html">Miền Trung</a></li>
        <li><a href="soi-cau-mien-nam.html">Miền Nam</a></li>
    </ol>
    <div id="infoheader">
        <p>
            <a href="~/Home/DangKy" rel="nofollow">Đăng ký</a>
            <span>|</span>
            <a href="~/Home/DangNhap" rel="nofollow">Đăng nhập</a>
        </p>
    </div>
    <div class="clear"></div>
</div>

<div class="clear"></div>
<div id="float_content_right_zone2" class="QCAlign">
    <div class="zone" style=" font-size: 12pt; margin: 5px;padding: 0px;border-radius: 0px;">
        <ul>
            <li style="overflow: hidden;padding-bottom:5px;">
                <a href="http://giovangchotso9999.net/" rel="nofollow" target="_blank"><img alt="" src="https://giovangchotso.com/public/ads_upload/images/12-12-,281,29.gif.pagespeed.ce.hlG_13pu6C.gif"/></a>
            </li>            
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div id="UserInfoBlock" class="board" style="text-align:center">
            <div id="Title">
                <p class="text_dangky"> <a>SỔ MƠ</a> </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <form action="https://giovangchotso.com/tim-kiem-so-mo.html" method="post">
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Hãy nhập tên giấc mơ. Ví dụ: ô tô, máy bay, máu, nước, ..." name="search" required="required" value="">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit" name="sub_form" value="Tra cứu">
                            <span class="glyphicon glyphicon-search"></span> Tìm
                        </button>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <b>Tìm theo chữ cái:</b><br>
        <strong>
            <a class="text-danger" href="https://giovangchotso.com/tim-kiem-so-mo/a.html" title="Tìm theo chữ cái A">A</a>&nbsp;|&nbsp;
            <a class="text-danger" href="https://giovangchotso.com/tim-kiem-so-mo/b.html" title="Tìm theo chữ cái B">B</a>&nbsp;|&nbsp;
            <a class="text-danger" href="https://giovangchotso.com/tim-kiem-so-mo/c.html" title="Tìm theo chữ cái C">C</a>&nbsp;|&nbsp;
            <a class="text-danger" href="https://giovangchotso.com/tim-kiem-so-mo/d.html" title="Tìm theo chữ cái D">D</a>&nbsp;|&nbsp;
            <a class="text-danger" href="https://giovangchotso.com/tim-kiem-so-mo/e.html" title="Tìm theo chữ cái E">E</a>&nbsp;|&nbsp;
            <a class="text-danger" href="https://giovangchotso.com/tim-kiem-so-mo/f.html" title="Tìm theo chữ cái F">F</a>&nbsp;|&nbsp;
            <a class="text-danger" href="https://giovangchotso.com/tim-kiem-so-mo/g.html" title="Tìm theo chữ cái G">G</a>&nbsp;|&nbsp;
            <a class="text-danger" href="https://giovangchotso.com/tim-kiem-so-mo/h.html" title="Tìm theo chữ cái H">H</a>&nbsp;|&nbsp;
            <a class="text-danger" href="https://giovangchotso.com/tim-kiem-so-mo/i.html" title="Tìm theo chữ cái I">I</a>&nbsp;|&nbsp;
            <a class="text-danger" href="https://giovangchotso.com/tim-kiem-so-mo/j.html" title="Tìm theo chữ cái J">J</a>&nbsp;|&nbsp;
            <a class="text-danger" href="https://giovangchotso.com/tim-kiem-so-mo/k.html" title="Tìm theo chữ cái K">K</a>&nbsp;|&nbsp;
            <a class="text-danger" href="https://giovangchotso.com/tim-kiem-so-mo/l.html" title="Tìm theo chữ cái L">L</a>&nbsp;|&nbsp;
            <a class="text-danger" href="https://giovangchotso.com/tim-kiem-so-mo/m.html" title="Tìm theo chữ cái M">M</a>&nbsp;|&nbsp;
            <a class="text-danger" href="https://giovangchotso.com/tim-kiem-so-mo/n.html" title="Tìm theo chữ cái N">N</a>&nbsp;|&nbsp;
            <a class="text-danger" href="https://giovangchotso.com/tim-kiem-so-mo/o.html" title="Tìm theo chữ cái O">O</a>&nbsp;|&nbsp;
            <a class="text-danger" href="https://giovangchotso.com/tim-kiem-so-mo/p.html" title="Tìm theo chữ cái P">P</a>&nbsp;|&nbsp;
            <a class="text-danger" href="https://giovangchotso.com/tim-kiem-so-mo/q.html" title="Tìm theo chữ cái Q">Q</a>&nbsp;|&nbsp;
            <a class="text-danger" href="https://giovangchotso.com/tim-kiem-so-mo/r.html" title="Tìm theo chữ cái R">R</a>&nbsp;|&nbsp;
            <a class="text-danger" href="https://giovangchotso.com/tim-kiem-so-mo/s.html" title="Tìm theo chữ cái S">S</a>&nbsp;|&nbsp;
            <a class="text-danger" href="https://giovangchotso.com/tim-kiem-so-mo/t.html" title="Tìm theo chữ cái T">T</a>&nbsp;|&nbsp;
            <a class="text-danger" href="https://giovangchotso.com/tim-kiem-so-mo/u.html" title="Tìm theo chữ cái U">U</a>&nbsp;|&nbsp;
            <a class="text-danger" href="https://giovangchotso.com/tim-kiem-so-mo/v.html" title="Tìm theo chữ cái V">V</a>&nbsp;|&nbsp;
            <a class="text-danger" href="https://giovangchotso.com/tim-kiem-so-mo/w.html" title="Tìm theo chữ cái W">W</a>&nbsp;|&nbsp;
            <a class="text-danger" href="https://giovangchotso.com/tim-kiem-so-mo/x.html" title="Tìm theo chữ cái X">X</a>&nbsp;|&nbsp;
            <a class="text-danger" href="https://giovangchotso.com/tim-kiem-so-mo/y.html" title="Tìm theo chữ cái Y">Y</a>&nbsp;|&nbsp;
            <a class="text-danger" href="https://giovangchotso.com/tim-kiem-so-mo/z.html" title="Tìm theo chữ cái Z">Z</a>
        </strong>
    </div>
    <div class="col-lg-12">
        <table class="table table-hover table-striped nowrap">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên giấc mơ</th>
                    <th>Bộ số tương ứng</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Ân ái</td>
                    <td class="text-primary" style="font-size: 16px;">25 - 75</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Ăn cá to</td>
                    <td class="text-primary" style="font-size: 16px;">05 - 60</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Ăn cắp xe đạp</td>
                    <td class="text-primary" style="font-size: 16px;">34</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Ăn chay</td>
                    <td class="text-primary" style="font-size: 16px;">86 - 85</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Ăn chua</td>
                    <td class="text-primary" style="font-size: 16px;">93 - 39</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Ăn chuối</td>
                    <td class="text-primary" style="font-size: 16px;">34 - 64</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Ăn cỗ</td>
                    <td class="text-primary" style="font-size: 16px;">93 - 67</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Ăn cơm</td>
                    <td class="text-primary" style="font-size: 16px;">74 - 85</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Ăn củ đậu</td>
                    <td class="text-primary" style="font-size: 16px;">38 - 39</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Ăn hàng</td>
                    <td class="text-primary" style="font-size: 16px;">03 - 04 - 52 - 19</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>Ăn hoa quả</td>
                    <td class="text-primary" style="font-size: 16px;">84 - 68</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>Ăn khoai</td>
                    <td class="text-primary" style="font-size: 16px;">75 - 85 - 58</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>Ăn mày</td>
                    <td class="text-primary" style="font-size: 16px;">01</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>Ăn no quá</td>
                    <td class="text-primary" style="font-size: 16px;">95 - 79</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>Ăn thịt mèo</td>
                    <td class="text-primary" style="font-size: 16px;">19 - 91</td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>Ăn thịt người</td>
                    <td class="text-primary" style="font-size: 16px;">83 - 85</td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>Ăn tiệc</td>
                    <td class="text-primary" style="font-size: 16px;">83 - 87</td>
                </tr>
                <tr>
                    <td>18</td>
                    <td>Ăn tiệm</td>
                    <td class="text-primary" style="font-size: 16px;">26 - 56 - 21</td>
                </tr>
                <tr>
                    <td>19</td>
                    <td>Ăn tôm</td>
                    <td class="text-primary" style="font-size: 16px;">83 - 89</td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>Ăn trộm</td>
                    <td class="text-primary" style="font-size: 16px;">01 - 90</td>
                </tr>
                <tr>
                    <td>21</td>
                    <td>Ăn trộm cá</td>
                    <td class="text-primary" style="font-size: 16px;">63 - 78 - 87</td>
                </tr>
                <tr>
                    <td>22</td>
                    <td>Ăn trộm xe máy</td>
                    <td class="text-primary" style="font-size: 16px;">04</td>
                </tr>
                <tr>
                    <td>23</td>
                    <td>Ăn trưa</td>
                    <td class="text-primary" style="font-size: 16px;">01 - 02 - 92</td>
                </tr>
                <tr>
                    <td>24</td>
                    <td>Ảnh bà cụ</td>
                    <td class="text-primary" style="font-size: 16px;">54 - 59</td>
                </tr>
                <tr>
                    <td>25</td>
                    <td>Ánh chớp</td>
                    <td class="text-primary" style="font-size: 16px;">53</td>
                </tr>
                <tr>
                    <td>26</td>
                    <td>Anh em gặp nhau</td>
                    <td class="text-primary" style="font-size: 16px;">01</td>
                </tr>
                <tr>
                    <td>27</td>
                    <td>Áo bay</td>
                    <td class="text-primary" style="font-size: 16px;">40 - 45</td>
                </tr>
                <tr>
                    <td>28</td>
                    <td>Áo bu dông</td>
                    <td class="text-primary" style="font-size: 16px;">08 - 06 - 56</td>
                </tr>
                <tr>
                    <td>29</td>
                    <td>Áo của chồng</td>
                    <td class="text-primary" style="font-size: 16px;">07 - 70</td>
                </tr>
                <tr>
                    <td>30</td>
                    <td>Áo của phụ nữ</td>
                    <td class="text-primary" style="font-size: 16px;">00 - 02</td>
                </tr>
            </tbody>
        </table>
        <div><ul class="pagination pagination-md"><li class="active"><a>1</a></li><li><a rel="nofollow" href="https://giovangchotso.com/somo?&amp;trang=2">2</a></li><li><a rel="nofollow" href="https://giovangchotso.com/somo?&amp;trang=3">3</a></li><li><a rel="nofollow" href="https://giovangchotso.com/somo?&amp;trang=38">Cuối</a></li></ul></div>
        <div class="col-lg-12">
            <b>Tìm</b>&nbsp;&nbsp;
            <a class="text-danger" href="https://giovangchotso.com/somo/search/A" title="Tìm theo chữ cái A">A</a>&nbsp;|&nbsp;
            <a class="text-danger" href="https://giovangchotso.com/somo/search/B" title="Tìm theo chữ cái B">B</a>&nbsp;|&nbsp;
            <a class="text-danger" href="https://giovangchotso.com/somo/search/C" title="Tìm theo chữ cái C">C</a>&nbsp;|&nbsp;
            <a class="text-danger" href="https://giovangchotso.com/somo/search/D" title="Tìm theo chữ cái D">D</a>&nbsp;|&nbsp;
            <a class="text-danger" href="https://giovangchotso.com/somo/search/E" title="Tìm theo chữ cái E">E</a>&nbsp;|&nbsp;
            <a class="text-danger" href="https://giovangchotso.com/somo/search/F" title="Tìm theo chữ cái F">F</a>&nbsp;|&nbsp;
            <a class="text-danger" href="https://giovangchotso.com/somo/search/G" title="Tìm theo chữ cái G">G</a>&nbsp;|&nbsp;
            <a class="text-danger" href="https://giovangchotso.com/somo/search/H" title="Tìm theo chữ cái H">H</a>&nbsp;|&nbsp;
            <a class="text-danger" href="https://giovangchotso.com/somo/search/I" title="Tìm theo chữ cái I">I</a>&nbsp;|&nbsp;
            <a class="text-danger" href="https://giovangchotso.com/somo/search/J" title="Tìm theo chữ cái J">J</a>&nbsp;|&nbsp;
            <a class="text-danger" href="https://giovangchotso.com/somo/search/K" title="Tìm theo chữ cái K">K</a>&nbsp;|&nbsp;
            <a class="text-danger" href="https://giovangchotso.com/somo/search/L" title="Tìm theo chữ cái L">L</a>&nbsp;|&nbsp;
            <a class="text-danger" href="https://giovangchotso.com/somo/search/M" title="Tìm theo chữ cái M">M</a>&nbsp;|&nbsp;
            <a class="text-danger" href="https://giovangchotso.com/somo/search/N" title="Tìm theo chữ cái N">N</a>&nbsp;|&nbsp;
            <a class="text-danger" href="https://giovangchotso.com/somo/search/O" title="Tìm theo chữ cái O">O</a>&nbsp;|&nbsp;
            <a class="text-danger" href="https://giovangchotso.com/somo/search/P" title="Tìm theo chữ cái P">P</a>&nbsp;|&nbsp;
            <a class="text-danger" href="https://giovangchotso.com/somo/search/Q" title="Tìm theo chữ cái Q">Q</a>&nbsp;|&nbsp;
            <a class="text-danger" href="https://giovangchotso.com/somo/search/R" title="Tìm theo chữ cái R">R</a>&nbsp;|&nbsp;
            <a class="text-danger" href="https://giovangchotso.com/somo/search/S" title="Tìm theo chữ cái S">S</a>&nbsp;|&nbsp;
            <a class="text-danger" href="https://giovangchotso.com/somo/search/T" title="Tìm theo chữ cái T">T</a>&nbsp;|&nbsp;
            <a class="text-danger" href="https://giovangchotso.com/somo/search/U" title="Tìm theo chữ cái U">U</a>&nbsp;|&nbsp;
            <a class="text-danger" href="https://giovangchotso.com/somo/search/V" title="Tìm theo chữ cái V">V</a>&nbsp;|&nbsp;
            <a class="text-danger" href="https://giovangchotso.com/somo/search/W" title="Tìm theo chữ cái W">W</a>&nbsp;|&nbsp;
            <a class="text-danger" href="https://giovangchotso.com/somo/search/X" title="Tìm theo chữ cái X">X</a>&nbsp;|&nbsp;
            <a class="text-danger" href="https://giovangchotso.com/somo/search/Y" title="Tìm theo chữ cái Y">Y</a>&nbsp;|&nbsp;
            <a class="text-danger" href="https://giovangchotso.com/somo/search/Z" title="Tìm theo chữ cái Z">Z</a>
        </div>
    </div>
</div>
