@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
}

@*<div class="chem_gio">
        <div class="top_chemgio">
            <div class="title_chem">
                <a id="comments" style="display: none;"></a>
                <p>Mời thánh ra số và chém gió (Bạn chưa đăng nhập)</p>
            </div>
        </div>
        <div style="float:right;padding-top: 2px;">
            <div style="color:blue; text-decoration:none; font-size:12px; padding-bottom:8px; padding-left:5px;margin-right:15px; float:left">
                <a title="Soi cau lo de Mien bac ngay truoc" href="soi-cau-mien-bac/01-01-2017.html" style="background-color: transparent !important;color: #000;font-size: 16px;" rel="nofollow">
                    <img style="width:14px;" src="Images/truoc.png" />&nbsp;ngày trước
                </a>
            </div>
        </div>
        <div class="list_chem" align="left">
            ﻿
            <div class="clear"></div>
            <div id="comment_content">
                <div class="detail_chem">
                    <div class="avatarblock" style="width:100%">
                        <div class="avatarimage" id="image">
                            <img src="upload/2016-12-30/7f6650d1ac37aa6687e9306eee3ab9f9.jpg.pagespeed.ce.bH7ZwWiISX.jpg" class="img-circle" alt="Soi cau lo de | Du doan xo so" width="50" height="50" style="vertical-align: -30px;" />
                        </div>
                        <div class="pull-right">
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" id="menu11855823" style="background-color: #fff;padding:0px">
                                    <i class="iconBtnDrop iconBackground"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu11855823">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="xem-thong-tin/65476.html"><span class="glyphicon glyphicon-info-sign"></span> Thông tin</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="avatarname">
                            <h4>
                                <a style="font-family: myfont3;font-size: 16px;color: #cc6600;" href="xem-thong-tin/65476.html">
                                    GP_92_TN
                                </a>
                            </h4>
                            <div class="chotchuan">
                                <a class="text-success" href="https://giovangchotso.com/xem-thong-tin/65476.html">
                                    <em style="color:#333">Chưa Chốt</em>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <p>nay mình chơi cặp lô 161 mỗi e 100điểm thế thôi ae cho ý kiến phát????</p>
                    <div style="clear: both;"></div>
                    <div class="comment_stuff">
                        <span class="buttonLike" onclick="javascript: alert('Bạn chưa đăng nhập')">
                            <span class="iconNoLike"></span>
                            <span id="likecount_1855823">0</span>
                        </span>
                        - <span class="commenttime" id="time">11:20</span>
                    </div>
                    <div class="replyBox" id="reply_content_1855823">
                    </div>
                </div>
                <div class="detail_chem">
                    <div class="avatarblock" style="width:100%">
                        <div class="avatarimage" id="image">
                            <img src="upload/2016-12-27/4699e6a7b9d3a5e97489892601ff2e64.png.pagespeed.ce.Iz5xyqkHTO.png" class="img-circle" alt="Soi cau lo de | Du doan xo so" width="50" height="50" style="vertical-align: -30px;" />
                        </div>
                        <div class="pull-right">
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" id="menu11855818" style="background-color: #fff;padding:0px">
                                    <i class="iconBtnDrop iconBackground"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu11855818">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="xem-thong-tin/58614.html"><span class="glyphicon glyphicon-info-sign"></span> Thông tin</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="avatarname">
                            <h4>
                                <a style="font-family: myfont3;font-size: 16px;color: #cc6600;" href="xem-thong-tin/58614.html">
                                    Kim_Xa_Lang_Quan
                                </a>
                            </h4>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <p>NUÔI ĐỀ 2 3 SỐ MÀ CÓ 5 HÔM THÌ PHẢI NÓI LÀ ĐỈNH CCAO HƠN DÀN 30 SỐ MÀ NUÔI CẢ TUẦN RỒI.. :))) EM ÍT KHI NUÔI ĐỀ MÀ 1 KHI ĐÃ NUÔI LÀ TỈ LỆ THẮNG CỰC CAO... CHÚC CÁC ANH CÁC CHỊ CÁC CÔ CÁC BÁC CÁC CHÚ CÁC ÔNG CÁC BÀ.... CÓ THỂ THÀNH CCOONG... GOOD LUCK BAO GIỜ RA EM SẼ QUAY LẠI... KO RA KO QUAY L.:))</p>
                    <div style="clear: both;"></div>
                    <div class="comment_stuff">
                        <span class="buttonLike" onclick="javascript: alert('Bạn chưa đăng nhập')">
                            <span class="iconNoLike"></span>
                            <span id="likecount_1855818">0</span>
                        </span>
                        - <span class="commenttime" id="time">11:18</span>
                    </div>
                    <div class="replyBox" id="reply_content_1855818">
                        <div class="detail_chem reply">
                            <div class="avatarblock" style="width:100%">
                                <div class="avatarimage" id="image">
                                    <img src="upload/2016-12-30/7f6650d1ac37aa6687e9306eee3ab9f9.jpg.pagespeed.ce.bH7ZwWiISX.jpg" class="img-circle" alt="Soi cau lo de | Du doan xo so" width="40" height="40" style="vertical-align: -25px;" />
                                </div>
                                <div class="pull-right">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" id="menu11855826" style="background-color: #fff;padding:0px">
                                            <i class="iconBtnDrop iconBackground"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu11855826">
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="xem-thong-tin/65476.html"><span class="glyphicon glyphicon-info-sign"></span> Thông tin</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="avatarname">
                                    <h4 style="">
                                        <a style="font-family: myfont3;font-size: 16px;color: #cc6600;" href="xem-thong-tin/65476.html">
                                            GP_92_TN
                                        </a>
                                    </h4>
                                    <div class="chotchuan">
                                        <a class="text-success" href="https://giovangchotso.com/xem-thong-tin/65476.html">
                                            <em style="color:#333">Chưa Chốt</em>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <p>kxlq thành công chiến thắng nhé</p>
                            <span class="buttonLike" onclick="likeComment('https://giovangchotso.com/user_control/like_comment_ajax',1855826);
                                                                                return false;">
                                <span class="iconNoLike" id="iconLike_1855826"></span>
                                <span class="LikeAmount" id="likecount_1855826">0</span>
                            </span>
                            - <span class="commenttime" id="time">11:21</span>
                        </div>
                        <div class="detail_chem reply">
                            <div class="avatarblock" style="width:100%">
                                <div class="avatarimage" id="image">
                                    <img src="upload/2016-12-27/4699e6a7b9d3a5e97489892601ff2e64.png.pagespeed.ce.Iz5xyqkHTO.png" class="img-circle" alt="Soi cau lo de | Du doan xo so" width="40" height="40" style="vertical-align: -25px;" />
                                </div>
                                <div class="pull-right">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" id="menu11855827" style="background-color: #fff;padding:0px">
                                            <i class="iconBtnDrop iconBackground"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu11855827">
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="xem-thong-tin/58614.html"><span class="glyphicon glyphicon-info-sign"></span> Thông tin</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="avatarname">
                                    <h4 style="">
                                        <a style="font-family: myfont3;font-size: 16px;color: #cc6600;" href="xem-thong-tin/58614.html">
                                            Kim_Xa_Lang_Quan
                                        </a>
                                    </h4>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <p>CẢM ƠN BAN... CHÚC BẠN MM RR NHA.</p>
                            <span class="buttonLike" onclick="likeComment('https://giovangchotso.com/user_control/like_comment_ajax',1855827);
                                                                                return false;">
                                <span class="iconNoLike" id="iconLike_1855827"></span>
                                <span class="LikeAmount" id="likecount_1855827">0</span>
                            </span>
                            - <span class="commenttime" id="time">11:22</span>
                        </div>
                        <div class="detail_chem reply">
                            <div class="avatarblock" style="width:100%">
                                <div class="avatarimage" id="image">
                                    <img src="Images/ava_default.png" class="img-circle" alt="Soi cau lo de | Du doan xo so" width="40" height="40" style="vertical-align: -25px;" />
                                </div>
                                <div class="pull-right">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" id="menu11855828" style="background-color: #fff;padding:0px">
                                            <i class="iconBtnDrop iconBackground"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="menu11855828">
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="xem-thong-tin/22794.html"><span class="glyphicon glyphicon-info-sign"></span> Thông tin</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="avatarname">
                                    <h4 style="">
                                        <a style="font-family: myfont3;font-size: 16px;color: #cc6600;" href="xem-thong-tin/22794.html">
                                            songvedem1976
                                        </a>
                                    </h4>
                                    <div class="chotchuan">
                                        <a class="text-success" href="https://giovangchotso.com/xem-thong-tin/22794.html">
                                            <em style="color:#333">Chưa Chốt</em>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <p>No ra em born luon à tai Sao lai nt chu giu ơ Ko ơ lai bo ra đi dung that là .hi </p>
                            <span class="buttonLike" onclick="likeComment('https://giovangchotso.com/user_control/like_comment_ajax',1855828);
                                                                                return false;">
                                <span class="iconNoLike" id="iconLike_1855828"></span>
                                <span class="LikeAmount" id="likecount_1855828">0</span>
                            </span>
                            - <span class="commenttime" id="time">11:22</span>
                        </div>
                    </div>
                </div>
                <div class="view_cm" align="center">
                    <ul class="pagination pagination-sm"><li class="active"><a>1</a></li><li><a rel="nofollow" href="https://giovangchotso.com/soi-cau-mien-bac.html?view=comment&amp;offset=20">2</a></li><li><a rel="nofollow" href="https://giovangchotso.com/soi-cau-mien-bac.html?view=comment&amp;offset=40">3</a></li><li><a rel="nofollow" href="https://giovangchotso.com/soi-cau-mien-bac.html?view=comment&amp;offset=260">Cuối</a></li></ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>*@
@*<div class="row">
        <div class="alert alert-warning">
            <div class="text-center"><h3>BẢNG TẬP HỢP SỐ KẾT</h3>(Số do thành viên chọn tham khảo nhiều nhất trên <a href="https://giovangchotso.com/thong-ke-xo-so.html">Soi số</a>)</div> <div class="panel panel-success">
                <div class="panel-heading">Miền Bắc</div>
                <div class="panel-body">
                    <h2 class="text-danger">65 ; 56 ; 41 ; 38</h2>
                </div>
            </div>
        </div>
    </div>*@

