@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_LayoutContent.cshtml";

}
<div class="middledite">
    <div id="breadcrumb">
        <ol class="breadcrumb" style="margin-bottom: 0px">
            <li><a href="https://giovangchotso.com/thong-tin-ca-nhan.html">Cá Nhân</a></li>
            <li><a href="https://giovangchotso.com/doi-mat-khau.html">Đổi Mật Khẩu</a></li>
            <li><a href="https://giovangchotso.com/naptien/napvip">Nạp Xu</a></li>
            <li><a href="https://giovangchotso.com/followlist.html">Theo dõi</a></li>
            <li><a href="https://giovangchotso.com/searchuser.html">Tìm T.Viên</a></li>
            <li><a href="https://giovangchotso.com/ticknumber.html">Số kết</a></li>
            <li class="active">BXH Tín nhiệm</li>
            <li><a href="https://giovangchotso.com/mymessagelist.html">Tin nhắn</a></li>
        </ol> <div id="infoheader">
            <div id="infouser">
                <p>
                    Thánh chém: <a href="thong-tin-ca-nhan.html">huutho2009</a>
                    <span>|</span>
                    <a href="https://giovangchotso.com/user_control/logout">Thoát</a>
                </p>
            </div>
            <div id="infotype">
                <p>
                    Số xu: <b>10.000</b> | <b><a href="https://giovangchotso.com/naptien/napvip">NẠP XU</a></b>
                </p>
            </div>
        </div>
        <div class="clear"></div>
        <div class="clear"></div>
    </div>
    <div id="UserInfoBlock" class="board" style="text-align:center"> <div id="Title"> <p class="text_dangky"> <a>BẢNG XẾP HẠNG TÍN NHIỆM</a> </p> </div> </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div>
            <table class="table">
                <caption>Bảng xếp hạng đánh giá tín nhiệm của các thành viên GVCS. Giúp các thành viên củng cố niềm tin vào vận may của mình.</caption>
                <tbody>
                    <tr>
                        <th id="thFollow-align">NickName</th>
                        <th id="thFollow-align">Thông tin</th>
                        <th id="thFollow-align">Tín nhiệm</th>
                    </tr>
                    <tr class="default clickable-row" data-href="https://giovangchotso.com/xem-thong-tin/1439.html">
                        <td id="tdFollow-align" class="col-xs-3">
                            <a href="https://giovangchotso.com/xem-thong-tin/1439.html"><img src="upload/2016-09-06/ef86bd2c57bdbd151ab889cd0fefdd7a.jpg.pagespeed.ce.nyNNuW5Ct0.jpg" class="img-circle" alt="Soi cau lo de | Du doan xo so" width="40" height="40" style="vertical-align: -10px;"> </a><p>
                                <a href="https://giovangchotso.com/xem-thong-tin/1439.html">
                                    <b>Trần Đào Tiề..</b>
                                </a>
                            </p>
                        </td>
                        <td id="tdRate-align" class="col-xs-6">
                            <div class="tdRate">
                                Gia nhập: 12/11/2013<br>
                                Bị thích: <strong>3.328</strong><br>
                                Theo dõi: <strong>745</strong>
                            </div>
                        </td>
                        <td id="tdRate-align">
                            <span class="label label-success label-bxh">440</span>
                        </td>
                    </tr>
                    <tr class="default clickable-row" data-href="https://giovangchotso.com/xem-thong-tin/39268.html">
                        <td id="tdFollow-align" class="col-xs-3">
                            <a href="https://giovangchotso.com/xem-thong-tin/39268.html"><img src="upload/2017-02-07/72e304b54ff91ba7dc3bf1b4469bb3f6.jpg.pagespeed.ce._6i1fqYXyK.jpg" class="img-circle" alt="Soi cau lo de | Du doan xo so" width="40" height="40" style="vertical-align: -10px;"> </a><p>
                                <a href="https://giovangchotso.com/xem-thong-tin/39268.html">
                                    <b>Denhatlomien..</b>
                                </a>
                            </p>
                        </td>
                        <td id="tdRate-align" class="col-xs-6">
                            <div class="tdRate">
                                Gia nhập: 19/02/2016<br>
                                Bị thích: <strong>6.170</strong><br>
                                Theo dõi: <strong>301</strong>
                            </div>
                        </td>
                        <td id="tdRate-align">
                            <span class="label label-warning label-bxh">426</span>
                        </td>
                    </tr>
                    <tr class="default clickable-row" data-href="https://giovangchotso.com/xem-thong-tin/22161.html">
                        <td id="tdFollow-align" class="col-xs-3">
                            <a href="https://giovangchotso.com/xem-thong-tin/22161.html"><img src="upload/2017-02-06/6d3f74aa698cebde8b83a5ff57de01f0.jpg.pagespeed.ce.0tmPlPP94I.jpg" class="img-circle" alt="Soi cau lo de | Du doan xo so" width="40" height="40" style="vertical-align: -10px;"> </a><p>
                                <a href="https://giovangchotso.com/xem-thong-tin/22161.html">
                                    <b>tungchientha..</b>
                                </a>
                            </p>
                        </td>
                        <td id="tdRate-align" class="col-xs-6">
                            <div class="tdRate">
                                Gia nhập: 24/04/2015<br>
                                Bị thích: <strong>2.233</strong><br>
                                Theo dõi: <strong>499</strong>
                            </div>
                        </td>
                        <td id="tdRate-align">
                            <span class="label label-info label-bxh">288</span>
                        </td>
                    </tr>
                    <tr class="default clickable-row" data-href="https://giovangchotso.com/xem-thong-tin/35265.html">
                        <td id="tdFollow-align" class="col-xs-3">
                            <a href="https://giovangchotso.com/xem-thong-tin/35265.html"><img src="upload/2016-08-18/2dc7491cb24ebff234b1c040bc2867eb.jpg.pagespeed.ce.zBe06RtmQY.jpg" class="img-circle" alt="Soi cau lo de | Du doan xo so" width="40" height="40" style="vertical-align: -10px;"> </a><p>
                                <a href="https://giovangchotso.com/xem-thong-tin/35265.html">
                                    <b>thantaiden39..</b>
                                </a>
                            </p>
                        </td>
                        <td id="tdRate-align" class="col-xs-6">
                            <div class="tdRate">
                                Gia nhập: 23/12/2015<br>
                                Bị thích: <strong>3.265</strong><br>
                                Theo dõi: <strong>480</strong>
                            </div>
                        </td>
                        <td id="tdRate-align">
                            <span class="label label-default label-bxh">285</span>
                        </td>
                    </tr>
                    <tr class="default clickable-row" data-href="https://giovangchotso.com/xem-thong-tin/13714.html">
                        <td id="tdFollow-align" class="col-xs-3">
                            <a href="https://giovangchotso.com/xem-thong-tin/13714.html"><img src="upload/2016-10-31/a5c895ee5669636b278de5ba9074c6c2.JPG.pagespeed.ce.C2QKSAqMH3.jpg" class="img-circle" alt="Soi cau lo de | Du doan xo so" width="40" height="40" style="vertical-align: -10px;"> </a><p>
                                <a href="https://giovangchotso.com/xem-thong-tin/13714.html">
                                    <b>Mộc Uyển Tha..</b>
                                </a>
                            </p>
                        </td>
                        <td id="tdRate-align" class="col-xs-6">
                            <div class="tdRate">
                                Gia nhập: 02/10/2014<br>
                                Bị thích: <strong>2.796</strong><br>
                                Theo dõi: <strong>289</strong>
                            </div>
                        </td>
                        <td id="tdRate-align">
                            <span class="label label-default label-bxh">163</span>
                        </td>
                    </tr>
                    <tr class="default clickable-row" data-href="https://giovangchotso.com/xem-thong-tin/4234.html">
                        <td id="tdFollow-align" class="col-xs-3">
                            <a href="https://giovangchotso.com/xem-thong-tin/4234.html"><img src="upload/2016-10-16/d4619bcc6e2b8f60fb2ccfd4d87a4e39.png.pagespeed.ce.wDm-J1Yn0R.png" class="img-circle" alt="Soi cau lo de | Du doan xo so" width="40" height="40" style="vertical-align: -10px;"> </a><p>
                                <a href="https://giovangchotso.com/xem-thong-tin/4234.html">
                                    <b>Leminhnga</b>
                                </a>
                            </p>
                        </td>
                        <td id="tdRate-align" class="col-xs-6">
                            <div class="tdRate">
                                Gia nhập: 04/03/2014<br>
                                Bị thích: <strong>1.029</strong><br>
                                Theo dõi: <strong>341</strong>
                            </div>
                        </td>
                        <td id="tdRate-align">
                            <span class="label label-default label-bxh">162</span>
                        </td>
                    </tr>
                    <tr class="default clickable-row" data-href="https://giovangchotso.com/xem-thong-tin/50042.html">
                        <td id="tdFollow-align" class="col-xs-3">
                            <a href="https://giovangchotso.com/xem-thong-tin/50042.html"><img src="upload/2016-07-19/7e365298f21b3a637208afaada76cf7c.png.pagespeed.ce.rvB6gI9XgP.png" class="img-circle" alt="Soi cau lo de | Du doan xo so" width="40" height="40" style="vertical-align: -10px;"> </a><p>
                                <a href="https://giovangchotso.com/xem-thong-tin/50042.html">
                                    <b>Tonggiang72</b>
                                </a>
                            </p>
                        </td>
                        <td id="tdRate-align" class="col-xs-6">
                            <div class="tdRate">
                                Gia nhập: 18/07/2016<br>
                                Bị thích: <strong>1.601</strong><br>
                                Theo dõi: <strong>359</strong>
                            </div>
                        </td>
                        <td id="tdRate-align">
                            <span class="label label-default label-bxh">152</span>
                        </td>
                    </tr>
                    <tr class="default clickable-row" data-href="https://giovangchotso.com/xem-thong-tin/49336.html">
                        <td id="tdFollow-align" class="col-xs-3">
                            <a href="https://giovangchotso.com/xem-thong-tin/49336.html"><img src="upload/2016-07-27/0c5c0b36834fbced0cdef33f0f1fd25f.jpg.pagespeed.ce.o2N65oXA_0.jpg" class="img-circle" alt="Soi cau lo de | Du doan xo so" width="40" height="40" style="vertical-align: -10px;"> </a><p>
                                <a href="https://giovangchotso.com/xem-thong-tin/49336.html">
                                    <b>Karatedo</b>
                                </a>
                            </p>
                        </td>
                        <td id="tdRate-align" class="col-xs-6">
                            <div class="tdRate">
                                Gia nhập: 11/07/2016<br>
                                Bị thích: <strong>2.112</strong><br>
                                Theo dõi: <strong>247</strong>
                            </div>
                        </td>
                        <td id="tdRate-align">
                            <span class="label label-default label-bxh">147</span>
                        </td>
                    </tr>
                    <tr class="default clickable-row" data-href="https://giovangchotso.com/xem-thong-tin/29204.html">
                        <td id="tdFollow-align" class="col-xs-3">
                            <a href="https://giovangchotso.com/xem-thong-tin/29204.html"><img src="upload/2017-02-07/318abc2485407c5033c6f6086151b649.png.pagespeed.ce.TK6CcV-ZcQ.png" class="img-circle" alt="Soi cau lo de | Du doan xo so" width="40" height="40" style="vertical-align: -10px;"> </a><p>
                                <a href="https://giovangchotso.com/xem-thong-tin/29204.html">
                                    <b>RỒNG VÀNG_HP</b>
                                </a>
                            </p>
                        </td>
                        <td id="tdRate-align" class="col-xs-6">
                            <div class="tdRate">
                                Gia nhập: 14/10/2015<br>
                                Bị thích: <strong>1.112</strong><br>
                                Theo dõi: <strong>375</strong>
                            </div>
                        </td>
                        <td id="tdRate-align">
                            <span class="label label-default label-bxh">146</span>
                        </td>
                    </tr>
                    <tr class="default clickable-row" data-href="https://giovangchotso.com/xem-thong-tin/24312.html">
                        <td id="tdFollow-align" class="col-xs-3">
                            <a href="https://giovangchotso.com/xem-thong-tin/24312.html"><img src="public/images/ava_default.png.pagespeed.ce.rjXV6ez3hj.png" class="img-circle" alt="Soi cau lo de | Du doan xo so" width="40" height="40" style="vertical-align: -10px;"> </a><p>
                                <a href="https://giovangchotso.com/xem-thong-tin/24312.html">
                                    <b>Kqxsmb</b>
                                </a>
                            </p>
                        </td>
                        <td id="tdRate-align" class="col-xs-6">
                            <div class="tdRate">
                                Gia nhập: 24/06/2015<br>
                                Bị thích: <strong>1.125</strong><br>
                                Theo dõi: <strong>306</strong>
                            </div>
                        </td>
                        <td id="tdRate-align">
                            <span class="label label-default label-bxh">124</span>
                        </td>
                    </tr>
                    <tr class="default clickable-row" data-href="https://giovangchotso.com/xem-thong-tin/24874.html">
                        <td id="tdFollow-align" class="col-xs-3">
                            <a href="https://giovangchotso.com/xem-thong-tin/24874.html"><img src="upload/2016-12-27/3c8b97f4d5149607eeba2bc483e551d8.jpg.pagespeed.ce.nvD73Q8AKC.jpg" class="img-circle" alt="Soi cau lo de | Du doan xo so" width="40" height="40" style="vertical-align: -10px;"> </a><p>
                                <a href="https://giovangchotso.com/xem-thong-tin/24874.html">
                                    <b>Bao Lam 87</b>
                                </a>
                            </p>
                        </td>
                        <td id="tdRate-align" class="col-xs-6">
                            <div class="tdRate">
                                Gia nhập: 07/07/2015<br>
                                Bị thích: <strong>868</strong><br>
                                Theo dõi: <strong>362</strong>
                            </div>
                        </td>
                        <td id="tdRate-align">
                            <span class="label label-default label-bxh">115</span>
                        </td>
                    </tr>
                    <tr class="default clickable-row" data-href="https://giovangchotso.com/xem-thong-tin/28975.html">
                        <td id="tdFollow-align" class="col-xs-3">
                            <a href="https://giovangchotso.com/xem-thong-tin/28975.html"><img src="public/images/ava_default.png.pagespeed.ce.rjXV6ez3hj.png" class="img-circle" alt="Soi cau lo de | Du doan xo so" width="40" height="40" style="vertical-align: -10px;"> </a><p>
                                <a href="https://giovangchotso.com/xem-thong-tin/28975.html">
                                    <b>khg địch thủ</b>
                                </a>
                            </p>
                        </td>
                        <td id="tdRate-align" class="col-xs-6">
                            <div class="tdRate">
                                Gia nhập: 10/10/2015<br>
                                Bị thích: <strong>144</strong><br>
                                Theo dõi: <strong>85</strong>
                            </div>
                        </td>
                        <td id="tdRate-align">
                            <span class="label label-default label-bxh">110</span>
                        </td>
                    </tr>
                    <tr class="default clickable-row" data-href="https://giovangchotso.com/xem-thong-tin/30113.html">
                        <td id="tdFollow-align" class="col-xs-3">
                            <a href="https://giovangchotso.com/xem-thong-tin/30113.html"><img src="upload/2016-06-15/8bf86bc09f79cbab9f9d2e9fdc051a32.jpg.pagespeed.ce.mg3b85_grb.jpg" class="img-circle" alt="Soi cau lo de | Du doan xo so" width="40" height="40" style="vertical-align: -10px;"> </a><p>
                                <a href="https://giovangchotso.com/xem-thong-tin/30113.html">
                                    <b>hahoang</b>
                                </a>
                            </p>
                        </td>
                        <td id="tdRate-align" class="col-xs-6">
                            <div class="tdRate">
                                Gia nhập: 11/11/2015<br>
                                Bị thích: <strong>870</strong><br>
                                Theo dõi: <strong>354</strong>
                            </div>
                        </td>
                        <td id="tdRate-align">
                            <span class="label label-default label-bxh">108</span>
                        </td>
                    </tr>
                    <tr class="default clickable-row" data-href="https://giovangchotso.com/xem-thong-tin/11999.html">
                        <td id="tdFollow-align" class="col-xs-3">
                            <a href="https://giovangchotso.com/xem-thong-tin/11999.html"><img src="upload/2016-12-17/f993fc725a61acd82440ddfe0cbaae02.jpg.pagespeed.ce.9nztQWgC41.jpg" class="img-circle" alt="Soi cau lo de | Du doan xo so" width="40" height="40" style="vertical-align: -10px;"> </a><p>
                                <a href="https://giovangchotso.com/xem-thong-tin/11999.html">
                                    <b>Maidelo</b>
                                </a>
                            </p>
                        </td>
                        <td id="tdRate-align" class="col-xs-6">
                            <div class="tdRate">
                                Gia nhập: 16/08/2014<br>
                                Bị thích: <strong>674</strong><br>
                                Theo dõi: <strong>335</strong>
                            </div>
                        </td>
                        <td id="tdRate-align">
                            <span class="label label-default label-bxh">102</span>
                        </td>
                    </tr>
                    <tr class="default clickable-row" data-href="https://giovangchotso.com/xem-thong-tin/51829.html">
                        <td id="tdFollow-align" class="col-xs-3">
                            <a href="https://giovangchotso.com/xem-thong-tin/51829.html"><img src="upload/2017-02-03/577d5ed19334da6a8af321e323199c9b.jpg.pagespeed.ce.nNwyZtvnlU.jpg" class="img-circle" alt="Soi cau lo de | Du doan xo so" width="40" height="40" style="vertical-align: -10px;"> </a><p>
                                <a href="https://giovangchotso.com/xem-thong-tin/51829.html">
                                    <b>Mobi_PHONE</b>
                                </a>
                            </p>
                        </td>
                        <td id="tdRate-align" class="col-xs-6">
                            <div class="tdRate">
                                Gia nhập: 23/07/2016<br>
                                Bị thích: <strong>1.146</strong><br>
                                Theo dõi: <strong>260</strong>
                            </div>
                        </td>
                        <td id="tdRate-align">
                            <span class="label label-default label-bxh">101</span>
                        </td>
                    </tr>
                    <tr class="default clickable-row" data-href="https://giovangchotso.com/xem-thong-tin/40977.html">
                        <td id="tdFollow-align" class="col-xs-3">
                            <a href="https://giovangchotso.com/xem-thong-tin/40977.html"><img src="upload/2016-07-31/1e6e33c874c7c1046b68a5d576326986.png.pagespeed.ce.-SviBqqySu.png" class="img-circle" alt="Soi cau lo de | Du doan xo so" width="40" height="40" style="vertical-align: -10px;"> </a><p>
                                <a href="https://giovangchotso.com/xem-thong-tin/40977.html">
                                    <b>quantubaothu..</b>
                                </a>
                            </p>
                        </td>
                        <td id="tdRate-align" class="col-xs-6">
                            <div class="tdRate">
                                Gia nhập: 23/03/2016<br>
                                Bị thích: <strong>898</strong><br>
                                Theo dõi: <strong>291</strong>
                            </div>
                        </td>
                        <td id="tdRate-align">
                            <span class="label label-default label-bxh">99</span>
                        </td>
                    </tr>
                    <tr class="default clickable-row" data-href="https://giovangchotso.com/xem-thong-tin/28605.html">
                        <td id="tdFollow-align" class="col-xs-3">
                            <a href="https://giovangchotso.com/xem-thong-tin/28605.html"><img src="upload/2016-07-22/2502c5b7aad4257b3fbc9919c37fd7c3.jpg.pagespeed.ce.5NS7kJ-q4C.jpg" class="img-circle" alt="Soi cau lo de | Du doan xo so" width="40" height="40" style="vertical-align: -10px;"> </a><p>
                                <a href="https://giovangchotso.com/xem-thong-tin/28605.html">
                                    <b>curabin.</b>
                                </a>
                            </p>
                        </td>
                        <td id="tdRate-align" class="col-xs-6">
                            <div class="tdRate">
                                Gia nhập: 02/10/2015<br>
                                Bị thích: <strong>738</strong><br>
                                Theo dõi: <strong>271</strong>
                            </div>
                        </td>
                        <td id="tdRate-align">
                            <span class="label label-default label-bxh">98</span>
                        </td>
                    </tr>
                    <tr class="default clickable-row" data-href="https://giovangchotso.com/xem-thong-tin/49323.html">
                        <td id="tdFollow-align" class="col-xs-3">
                            <a href="https://giovangchotso.com/xem-thong-tin/49323.html"><img src="upload/2016-10-20/a52375e357cb33ab3c6584045296a69c.jpg.pagespeed.ce.J3Tua3XMSG.jpg" class="img-circle" alt="Soi cau lo de | Du doan xo so" width="40" height="40" style="vertical-align: -10px;"> </a><p>
                                <a href="https://giovangchotso.com/xem-thong-tin/49323.html">
                                    <b>quangdac</b>
                                </a>
                            </p>
                        </td>
                        <td id="tdRate-align" class="col-xs-6">
                            <div class="tdRate">
                                Gia nhập: 10/07/2016<br>
                                Bị thích: <strong>920</strong><br>
                                Theo dõi: <strong>236</strong>
                            </div>
                        </td>
                        <td id="tdRate-align">
                            <span class="label label-default label-bxh">97</span>
                        </td>
                    </tr>
                    <tr class="default clickable-row" data-href="https://giovangchotso.com/xem-thong-tin/3468.html">
                        <td id="tdFollow-align" class="col-xs-3">
                            <a href="https://giovangchotso.com/xem-thong-tin/3468.html"><img src="upload/2016-10-06/c44b2dd80eaf2b07a597112ff5941a0f.JPG" class="img-circle" alt="Soi cau lo de | Du doan xo so" width="40" height="40" style="vertical-align: -10px;"> </a><p>
                                <a href="https://giovangchotso.com/xem-thong-tin/3468.html">
                                    <b>vako</b>
                                </a>
                            </p>
                        </td>
                        <td id="tdRate-align" class="col-xs-6">
                            <div class="tdRate">
                                Gia nhập: 18/02/2014<br>
                                Bị thích: <strong>747</strong><br>
                                Theo dõi: <strong>218</strong>
                            </div>
                        </td>
                        <td id="tdRate-align">
                            <span class="label label-default label-bxh">97</span>
                        </td>
                    </tr>
                    <tr class="default clickable-row" data-href="https://giovangchotso.com/xem-thong-tin/39331.html">
                        <td id="tdFollow-align" class="col-xs-3">
                            <a href="https://giovangchotso.com/xem-thong-tin/39331.html"><img src="public/images/ava_default.png.pagespeed.ce.rjXV6ez3hj.png" class="img-circle" alt="Soi cau lo de | Du doan xo so" width="40" height="40" style="vertical-align: -10px;"> </a><p>
                                <a href="https://giovangchotso.com/xem-thong-tin/39331.html">
                                    <b>bavi</b>
                                </a>
                            </p>
                        </td>
                        <td id="tdRate-align" class="col-xs-6">
                            <div class="tdRate">
                                Gia nhập: 21/02/2016<br>
                                Bị thích: <strong>467</strong><br>
                                Theo dõi: <strong>134</strong>
                            </div>
                        </td>
                        <td id="tdRate-align">
                            <span class="label label-default label-bxh">96</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>